# Class: [Data Science](https://git.generalassemb.ly/meccaLeccaHi/dat-sf-60)

**Student:** [Allen Au](https://www.linkedin.com/in/auallen/)    
    
**Date:** Dec. 3, 2019

## Final Project: NYC Real Estate Analysis

---

# Proposal

## The Problem

Visibility into Real Estate market has historically been opaque and segregated through local Multiple Listing Service (MLS) systems.  The understanding of a local market required a personal relationship with a Real Estate Broker with access to a local MLS sytesm.  Real Estate investment continues to be challenged with the following:

Cost
1. Requires a signifant capitol outlay 
2. Less liquid investment compared to stocks
3. Transaction cost is significant (closing cost, escrow, real estate agents, attourney fees, etc.)

**Predictablity**
3. Real Estate valuation can be emotional and subjective
4. Minimal insight into local market trends

## Proposal

With the advent of publicaly assesible data through government (City, State, US Gov.) agencies and private companies(i.e., Zillow), historical trends, insights, and predication can be asserted.

### Potential Datasets

**NYC Real Estate**
* New York City AirBnb: Historical analysis, Trends, Predictions (hosts, location, price)
 * Data Set: https://www.kaggle.com/dgomonov/new-york-city-airbnb-open-data
 
 
* New York Property Sales: Historical analysis, Trends, Predictions (buildings, apartments, location, price) 
 * Data Set: https://www.kaggle.com/new-york-city/nyc-property-sales
 
 
* Zillow Rent Index, 2010-Present
 * Data Set: https://www.kaggle.com/zillow/rent-index

### Hypothesis

**Goals and success metrics:**
1. Determine relative pricing relationship between different property types
2. Idenitfy sales volume between different property types
3. Identify neigborhood trends and their relationships with each other
4. Establsh a prediction for a particular neighborhood 


**Risks or limitations:**
What shortcoming exist for this data that make it less than ideal for answering this particular question?
1. Datasets above may not be complete
2. Datasets above may be biased during collection
3. Datasets above may not support specific questios in goals

### Strategies
 * https://www.kaggle.com/anilak1978/new-york-city-real-estate-property-analysis
 
 * https://www.kaggle.com/c/house-prices-advanced-regression-techniques'
 
 * https://medium.com/geoai/house-hunting-the-data-scientist-way-b32d93f5a42f

# EDA

In [237]:
# Import libraries to read, anaylize and visualize data
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from ast import literal_eval

In [238]:
# this allows plots to appear directly in the notebook
%matplotlib inline

# this selects the 'style' that matplotlib will use to generate plots
plt.style.use('fivethirtyeight')

In [239]:
# Read imdb csv data into movies dataframe
# https://www.kaggle.com/new-york-city/nyc-property-sales
nyc = pd.read_csv('./nyc-rolling-sales-cleaner.csv')

In [240]:
# Display head data for each borough
for borough in boroughs:
    print("Borough: {0}".format(borough))
    print(nyc[nyc['BOROUGH'] == borough].head(5))

Borough: 1.0
  Unnamed: 0  BOROUGH   NEIGHBORHOOD  \
0          4      1.0  ALPHABET CITY
1          5      1.0  ALPHABET CITY
2          6      1.0  ALPHABET CITY
3          7      1.0  ALPHABET CITY
4          8      1.0  ALPHABET CITY

                       BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  BLOCK  \
0  07 RENTALS - WALKUP APARTMENTS                                2A  392.0
1  07 RENTALS - WALKUP APARTMENTS                                 2  399.0
2  07 RENTALS - WALKUP APARTMENTS                                 2  399.0
3  07 RENTALS - WALKUP APARTMENTS                                2B  402.0
4  07 RENTALS - WALKUP APARTMENTS                                2A  404.0

    LOT EASE-MENT BUILDING CLASS AT PRESENT                 ADDRESS  ...  \
0   6.0                                  C2            153 AVENUE B  ...
1  26.0                                  C7   234 EAST 4TH   STREET  ...
2  39.0                                  C7   197 EAST 3RD   STREET  ...
3  21.0                                  C4     154 EAST 7TH STREET  ...
4  55.0                                  C2  301 EAST 10TH   STREET  ...

  RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  \
0               5.0               0.0          5.0            1633.0
1              28.0               3.0         31.0            4616.0
2              16.0               1.0         17.0            2212.0
3              10.0               0.0         10.0            2272.0
4               6.0               0.0          6.0            2369.0

   GROSS SQUARE FEET  YEAR BUILT  TAX CLASS AT TIME OF SALE  \
0             6440.0      1900.0                        2.0
1            18690.0      1900.0                        2.0
2             7803.0      1900.0                        2.0
3             6794.0      1913.0                        2.0
4             4615.0      1900.0                        2.0

   BUILDING CLASS AT TIME OF SALE  SALEPRICE            SALE DATE
0                              C2  6625000.0  2017-07-19 00:00:00
1                              C7        0.0  2016-12-14 00:00:00
2                              C7        0.0  2016-12-09 00:00:00
3                              C4  3936272.0  2016-09-23 00:00:00
4                              C2  8000000.0  2016-11-17 00:00:00

[5 rows x 22 columns]
Borough: 2.0
      Unnamed: 0  BOROUGH NEIGHBORHOOD  \
18306          4      2.0     BATHGATE
18307          5      2.0     BATHGATE
18308          6      2.0     BATHGATE
18309          7      2.0     BATHGATE
18310          8      2.0     BATHGATE

                           BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
18306  01 ONE FAMILY DWELLINGS                                        1
18307  01 ONE FAMILY DWELLINGS                                        1
18308  01 ONE FAMILY DWELLINGS                                        1
18309  01 ONE FAMILY DWELLINGS                                        1
18310  01 ONE FAMILY DWELLINGS                                        1

        BLOCK   LOT EASE-MENT BUILDING CLASS AT PRESENT               ADDRESS  \
18306  3030.0  65.0                                  A1      4455 PARK AVENUE
18307  3036.0  13.0                                  A1      4348 PARK AVENUE
18308  3043.0  55.0                                  A1  1948 BATHGATE AVENUE
18309  3046.0  52.0                                  A1  2047 BATHGATE AVENUE
18310  3046.0  52.0                                  A1  2047 BATHGATE AVENUE

       ... RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  \
18306  ...               1.0               0.0          1.0            1622.0
18307  ...               1.0               0.0          1.0            3525.0
18308  ...               1.0               0.0          1.0            2356.0
18309  ...               1.0               0.0          1.0            2329.0
18310  ...               1.0               0.0          1.0            2329.0

       GROSS SQUARE FEET  YEAR BUILT  TAX CLASS AT TIME OF SALE  \
18306             1587.0      1899.0                        1.0
18307             1764.0      1899.0                        1.0
18308             2047.0      1901.0                        1.0
18309             1431.0      1901.0                        1.0
18310             1431.0      1901.0                        1.0

       BUILDING CLASS AT TIME OF SALE  SALEPRICE            SALE DATE
18306                              A1   140000.0  2017-05-12 00:00:00
18307                              A1   420000.0  2017-02-03 00:00:00
18308                              A1   127000.0  2017-08-22 00:00:00
18309                              A1   273796.0  2016-09-21 00:00:00
18310                              A1   231244.0  2016-09-21 00:00:00

[5 rows x 22 columns]
Borough: 3.0
      Unnamed: 0  BOROUGH NEIGHBORHOOD  \
25355          4      3.0   BATH BEACH
25356          5      3.0   BATH BEACH
25357          6      3.0   BATH BEACH
25358          7      3.0   BATH BEACH
25359          8      3.0   BATH BEACH

                           BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
25355  01 ONE FAMILY DWELLINGS                                        1
25356  01 ONE FAMILY DWELLINGS                                        1
25357  01 ONE FAMILY DWELLINGS                                        1
25358  01 ONE FAMILY DWELLINGS                                        1
25359  01 ONE FAMILY DWELLINGS                                        1

        BLOCK    LOT EASE-MENT BUILDING CLASS AT PRESENT  \
25355  6360.0  157.0                                  A5
25356  6361.0   20.0                                  A5
25357  6364.0    2.0                                  A5
25358  6367.0   42.0                                  S1
25359  6374.0   67.0                                  S1

                    ADDRESS  ... RESIDENTIAL UNITS  COMMERCIAL UNITS  \
25355  36 BAY 10TH   STREET  ...               1.0               0.0
25356    47 BAY 10TH STREET  ...               1.0               0.0
25357    1649 BENSON AVENUE  ...               1.0               0.0
25358      1730 86TH STREET  ...               1.0               1.0
25359      8642 20TH AVENUE  ...               1.0               1.0

       TOTAL UNITS  LAND SQUARE FEET  GROSS SQUARE FEET  YEAR BUILT  \
25355          1.0            1547.0             1428.0      1930.0
25356          1.0            1933.0             1660.0      1930.0
25357          1.0            1638.0              972.0      1930.0
25358          2.0            1342.0             1920.0      1926.0
25359          2.0            1740.0             3240.0      1925.0

       TAX CLASS AT TIME OF SALE  BUILDING CLASS AT TIME OF SALE  SALEPRICE  \
25355                        1.0                              A5   800000.0
25356                        1.0                              A5        0.0
25357                        1.0                              A5        0.0
25358                        1.0                              S1  1200000.0
25359                        1.0                              S1  1090000.0

                 SALE DATE
25355  2017-02-27 00:00:00
25356  2017-03-04 00:00:00
25357  2016-10-06 00:00:00
25358  2017-03-31 00:00:00
25359  2016-10-24 00:00:00

[5 rows x 22 columns]
Borough: 4.0
      Unnamed: 0  BOROUGH        NEIGHBORHOOD  \
49402          4      4.0  AIRPORT LA GUARDIA
49403          5      4.0  AIRPORT LA GUARDIA
49404          6      4.0  AIRPORT LA GUARDIA
49405          7      4.0  AIRPORT LA GUARDIA
49406          8      4.0  AIRPORT LA GUARDIA

                           BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
49402  01 ONE FAMILY DWELLINGS                                        1
49403  01 ONE FAMILY DWELLINGS                                        1
49404  01 ONE FAMILY DWELLINGS                                        1
49405  03 THREE FAMILY DWELLINGS                                      1
49406  07 RENTALS - WALKUP APARTMENTS                                2A

       BLOCK   LOT EASE-MENT BUILDING CLASS AT PRESENT              ADDRESS  \
49402  976.0  15.0                                  A5    21-20 81ST STREET
49403  976.0  54.0                                  A5    21-35 80TH STREET
49404  976.0  63.0                                  A5  21-17 80TH   STREET
49405  949.0  17.0                                  C0       1914 81 STREET
49406  949.0  67.0                                  C2  1949A 80TH   STREET

       ... RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  \
49402  ...               1.0               0.0          1.0            1800.0
49403  ...               1.0               0.0          1.0            1800.0
49404  ...               1.0               0.0          1.0            1800.0
49405  ...               3.0               0.0          3.0            2826.0
49406  ...               6.0               0.0          6.0            2400.0

       GROSS SQUARE FEET  YEAR BUILT  TAX CLASS AT TIME OF SALE  \
49402             1224.0      1950.0                        1.0
49403             1224.0      1950.0                        1.0
49404             1224.0      1950.0                        1.0
49405             1840.0      1940.0                        1.0
49406             3960.0      1971.0                        2.0

       BUILDING CLASS AT TIME OF SALE  SALEPRICE            SALE DATE
49402                              A5   792000.0  2017-07-26 00:00:00
49403                              A5       10.0  2017-06-13 00:00:00
49404                              A5   275500.0  2016-11-18 00:00:00
49405                              C0   970000.0  2017-07-31 00:00:00
49406                              C2  1400000.0  2017-05-16 00:00:00

[5 rows x 22 columns]
Borough: 5.0
      Unnamed: 0  BOROUGH NEIGHBORHOOD  \
76138          4      5.0     ANNADALE
76139          5      5.0     ANNADALE
76140          6      5.0     ANNADALE
76141          7      5.0     ANNADALE
76142          8      5.0     ANNADALE

                           BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
76138  01 ONE FAMILY DWELLINGS                                        1
76139  01 ONE FAMILY DWELLINGS                                        1
76140  01 ONE FAMILY DWELLINGS                                        1
76141  01 ONE FAMILY DWELLINGS                                        1
76142  01 ONE FAMILY DWELLINGS                                        1

        BLOCK   LOT EASE-MENT BUILDING CLASS AT PRESENT            ADDRESS  \
76138  5426.0  32.0                                  A6   3 OCEAN DRIVEWAY
76139  6205.0  22.0                                  A5    83 EAGAN AVENUE
76140  6205.0  58.0                                  A5   32 SEGUINE PLACE
76141  6209.0  69.0                                  A5  195 MOSELY AVENUE
76142  6209.0  71.0                                  A5  191 MOSELY AVENUE

       ... RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  \
76138  ...               1.0               0.0          1.0            2500.0
76139  ...               1.0               0.0          1.0            1546.0
76140  ...               1.0               0.0          1.0            1471.0
76141  ...               1.0               0.0          1.0            2665.0
76142  ...               1.0               0.0          1.0            2665.0

       GROSS SQUARE FEET  YEAR BUILT  TAX CLASS AT TIME OF SALE  \
76138              540.0      1910.0                        1.0
76139             1579.0      1986.0                        1.0
76140             1068.0      1986.0                        1.0
76141             1592.0      2007.0                        1.0
76142             1592.0      2007.0                        1.0

       BUILDING CLASS AT TIME OF SALE  SALEPRICE            SALE DATE
76138                              A6        0.0  2017-06-03 00:00:00
76139                              A5   437500.0  2017-05-30 00:00:00
76140                              A5        0.0  2017-03-13 00:00:00
76141                              A5   579000.0  2016-11-21 00:00:00
76142                              A5        0.0  2017-05-05 00:00:00

[5 rows x 22 columns]

In [241]:
nyc.columns

Index(['Unnamed: 0', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALEPRICE', 'SALE DATE'],
      dtype='object')

In [242]:
nyc.shape

(84548, 22)

In [243]:
nyc.describe()

,BOROUGH,BLOCK,LOT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,SALEPRICE
count,67830.000000,67830.000000,67830.000000,67830.000000,67830.000000,67830.000000,67830.000000,6.783000e+04,6.783000e+04,67830.000000,67830.000000,6.783000e+04
mean,3.159457,4515.328395,433.839673,10749.371148,2.524163,0.241235,2.803243,3.386944e+03,3.395826e+03,1756.099735,1.573168,1.149625e+06
std,1.223877,3676.456304,692.941060,1407.190218,18.634539,9.727287,21.145354,3.894570e+04,3.213052e+04,586.526538,0.894783,1.157724e+07
min,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,1.000000,0.000000e+00
25%,3.000000,1411.000000,26.000000,10312.000000,1.000000,0.000000,1.000000,0.000000e+00,0.000000e+00,1920.000000,1.000000,0.000000e+00
50%,3.000000,3776.000000,58.000000,11212.000000,1.000000,0.000000,1.000000,2.001000e+03,1.431000e+03,1931.000000,1.000000,4.270000e+05
75%,4.000000,6624.000000,1018.000000,11357.000000,2.000000,0.000000,2.000000,3.040000e+03,2.346000e+03,1979.000000,2.000000,8.511335e+05
max,5.000000,16322.000000,9106.000000,11694.000000,1844.000000,2261.000000,2261.000000,4.252327e+06,3.750565e+06,2017.000000,4.000000,2.210000e+09

In [244]:
# List of indexes representing NYC Boroughs
boroughs = [1.0,2.0,3.0,4.0,5.0]

# Determine Mean Sale Price by Borough
mean_saleprice = 0
for borough in boroughs:
    print("Borough: {}".format(borough))
    mean_saleprice = nyc[nyc['BOROUGH'] == borough].SALEPRICE.mean()
    print(mean_saleprice)

Borough: 1.0
3716478.3269212726
Borough: 2.0
652379.4386375021
Borough: 3.0
884477.2361065593
Borough: 4.0
572563.1098880684
Borough: 5.0
391372.4700988667

In [245]:
# Mean sale price by Borough using "groupby"
nyc.groupby(['BOROUGH']).mean()

,BLOCK,LOT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,SALEPRICE
BOROUGH,,,,,,,,,,,
1.0,1041.057146,1147.108004,9830.494229,3.963498,0.514779,4.551187,984.966595,5996.512715,1566.821620,2.223609,3.716478e+06
2.0,4117.056103,308.211221,10343.668893,4.044916,0.189347,4.241610,4645.691768,5325.120220,1709.317248,1.441643,6.523794e+05
3.0,4267.912917,372.636032,11054.993773,2.291680,0.166581,2.499977,2438.763519,2893.703591,1745.409617,1.618896,8.844772e+05
4.0,7069.409967,264.828015,11288.654080,2.112675,0.256235,2.407598,3555.587386,2641.975849,1830.455715,1.395755,5.725631e+05
5.0,3273.850012,204.436098,10035.979262,1.243550,0.080540,1.326742,7568.321558,1911.125512,1867.588618,1.175187,3.913725e+05

In [246]:
# Focus on Sale Price
nyc.groupby("BOROUGH").SALEPRICE.mean()

BOROUGH
1.0    3.716478e+06
2.0    6.523794e+05
3.0    8.844772e+05
4.0    5.725631e+05
5.0    3.913725e+05
Name: SALEPRICE, dtype: float64

In [250]:
nyc.info

<bound method DataFrame.info of                                               Unnamed: 0  BOROUGH  \
0                                                      4      1.0
1                                                      5      1.0
2                                                      6      1.0
3                                                      7      1.0
4                                                      8      1.0
5                                                      9      1.0
6                                                     10      1.0
7                                                     11      1.0
8                                                     12      1.0
9                                                     13      1.0
10                                                    14      1.0
11                                                    15      1.0
12     16,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENT...      NaN
13     17,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENT...      NaN
14     18,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENT...      NaN
15     19,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENT...      NaN
16     20,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENT...      NaN
17     21,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENT...      NaN
18     22,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENT...      NaN
19     23,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENT...      NaN
20     24,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENT...      NaN
21     25,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENT...      NaN
22                                                    26      1.0
23                                                    27      1.0
24     28,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENT...      NaN
25     29,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENT...      NaN
26     30,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENT...      NaN
27     31,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENT...      NaN
28     32,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENT...      NaN
29     33,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENT...      NaN
...                                                  ...      ...
84518                                               8384      5.0
84519                                               8385      5.0
84520                                               8386      5.0
84521                                               8387      5.0
84522                                               8388      5.0
84523                                               8389      5.0
84524                                               8390      5.0
84525                                               8391      5.0
84526                                               8392      5.0
84527                                               8393      5.0
84528                                               8394      5.0
84529                                               8395      5.0
84530                                               8396      5.0
84531                                               8397      5.0
84532                                               8398      5.0
84533                                               8399      5.0
84534                                               8400      5.0
84535                                               8401      5.0
84536                                               8402      5.0
84537                                               8403      5.0
84538                                               8404      5.0
84539                                               8405      5.0
84540                                               8406      5.0
84541                                               8407      5.0
84542                                               8408      5.0
84543                                               8409      5.0
84544                                               8410      5.0
84545                                               8411      5.0
84546                                               8412      5.0
84547                                               8413      5.0

        NEIGHBORHOOD                      BUILDING CLASS CATEGORY  \
0      ALPHABET CITY  07 RENTALS - WALKUP APARTMENTS
1      ALPHABET CITY  07 RENTALS - WALKUP APARTMENTS
2      ALPHABET CITY  07 RENTALS - WALKUP APARTMENTS
3      ALPHABET CITY  07 RENTALS - WALKUP APARTMENTS
4      ALPHABET CITY  07 RENTALS - WALKUP APARTMENTS
5      ALPHABET CITY  07 RENTALS - WALKUP APARTMENTS
6      ALPHABET CITY  07 RENTALS - WALKUP APARTMENTS
7      ALPHABET CITY  07 RENTALS - WALKUP APARTMENTS
8      ALPHABET CITY  08 RENTALS - ELEVATOR APARTMENTS
9      ALPHABET CITY  08 RENTALS - ELEVATOR APARTMENTS
10     ALPHABET CITY  08 RENTALS - ELEVATOR APARTMENTS
11     ALPHABET CITY  08 RENTALS - ELEVATOR APARTMENTS
12               NaN                                          NaN
13               NaN                                          NaN
14               NaN                                          NaN
15               NaN                                          NaN
16               NaN                                          NaN
17               NaN                                          NaN
18               NaN                                          NaN
19               NaN                                          NaN
20               NaN                                          NaN
21               NaN                                          NaN
22     ALPHABET CITY  09 COOPS - WALKUP APARTMENTS
23     ALPHABET CITY  09 COOPS - WALKUP APARTMENTS
24               NaN                                          NaN
25               NaN                                          NaN
26               NaN                                          NaN
27               NaN                                          NaN
28               NaN                                          NaN
29               NaN                                          NaN
...              ...                                          ...
84518        WOODROW  02 TWO FAMILY DWELLINGS
84519        WOODROW  02 TWO FAMILY DWELLINGS
84520        WOODROW  02 TWO FAMILY DWELLINGS
84521        WOODROW  02 TWO FAMILY DWELLINGS
84522        WOODROW  02 TWO FAMILY DWELLINGS
84523        WOODROW  02 TWO FAMILY DWELLINGS
84524        WOODROW  02 TWO FAMILY DWELLINGS
84525        WOODROW  02 TWO FAMILY DWELLINGS
84526        WOODROW  02 TWO FAMILY DWELLINGS
84527        WOODROW  02 TWO FAMILY DWELLINGS
84528        WOODROW  02 TWO FAMILY DWELLINGS
84529        WOODROW  02 TWO FAMILY DWELLINGS
84530        WOODROW  02 TWO FAMILY DWELLINGS
84531        WOODROW  02 TWO FAMILY DWELLINGS
84532        WOODROW  02 TWO FAMILY DWELLINGS
84533        WOODROW  02 TWO FAMILY DWELLINGS
84534        WOODROW  02 TWO FAMILY DWELLINGS
84535        WOODROW  02 TWO FAMILY DWELLINGS
84536        WOODROW  02 TWO FAMILY DWELLINGS
84537        WOODROW  02 TWO FAMILY DWELLINGS
84538        WOODROW  02 TWO FAMILY DWELLINGS
84539        WOODROW  02 TWO FAMILY DWELLINGS
84540        WOODROW  02 TWO FAMILY DWELLINGS
84541        WOODROW  02 TWO FAMILY DWELLINGS
84542        WOODROW  02 TWO FAMILY DWELLINGS
84543        WOODROW  02 TWO FAMILY DWELLINGS
84544        WOODROW  02 TWO FAMILY DWELLINGS
84545        WOODROW  02 TWO FAMILY DWELLINGS
84546        WOODROW  22 STORE BUILDINGS
84547        WOODROW  35 INDOOR PUBLIC AND CULTURAL FACILITIES

      TAX CLASS AT PRESENT   BLOCK    LOT EASE-MENT BUILDING CLASS AT PRESENT  \
0                       2A   392.0    6.0                                  C2
1                        2   399.0   26.0                                  C7
2                        2   399.0   39.0                                  C7
3                       2B   402.0   21.0                                  C4
4                       2A   404.0   55.0                                  C2
5                        2   405.0   16.0                                  C4
6                       2B   406.0   32.0                                  C4
7                        2   407.0   18.0                                  C7
8                        2   379.0   34.0                                  D5
9                        2   387.0  153.0                                  D9
10                       2   394.0   44.0                                  D7
11                      2B   400.0   21.0                                  D1
12                     NaN     NaN    NaN       NaN                       NaN
13                     NaN     NaN    NaN       NaN                       NaN
14                     NaN     NaN    NaN       NaN                       NaN
15                     NaN     NaN    NaN       NaN                       NaN
16                     NaN     NaN    NaN       NaN                       NaN
17                     NaN     NaN    NaN       NaN                       NaN
18                     NaN     NaN    NaN       NaN                       NaN
19                     NaN     NaN    NaN       NaN                       NaN
20                     NaN     NaN    NaN       NaN                       NaN
21                     NaN     NaN    NaN       NaN                       NaN
22                       2   376.0   14.0                                  C6
23                       2   376.0   14.0                                  C6
24                     NaN     NaN    NaN       NaN                       NaN
25                     NaN     NaN    NaN       NaN                       NaN
26                     NaN     NaN    NaN       NaN                       NaN
27                     NaN     NaN    NaN       NaN                       NaN
28                     NaN     NaN    NaN       NaN                       NaN
29                     NaN     NaN    NaN       NaN                       NaN
...                    ...     ...    ...       ...                       ...
84518                    1  7020.0  143.0                                  B2
84519                    1  7020.0  160.0                                  B2
84520                    1  7020.0  398.0                                  B2
84521                    1  7020.0  408.0                                  B2
84522                    1  7020.0  423.0                                  B2
84523                    1  7091.0   10.0                                  B9
84524                    1  7091.0   28.0                                  B9
84525                    1  7091.0  188.0                                  B9
84526                    1  7092.0   15.0                                  B9
84527                    1  7092.0  113.0                                  B9
84528                    1  7092.0  140.0                                  B9
84529                    1  7105.0    2.0                                  B9
84530                    1  7105.0  660.0                                  B2
84531                    1  7267.0  130.0                                  B9
84532                    1  7267.0  131.0                                  B9
84533                    1  7267.0  182.0                                  B2
84534                    1  7267.0  202.0                                  B9
84535                    1  7267.0  218.0                                  B2
84536                    1  7267.0  244.0                                  B2
84537                    1  7267.0  249.0                                  B2
84538                    1  7316.0   61.0                                  B2
84539                    1  7316.0   85.0                                  B2
84540                    1  7316.0   93.0                                  B2
84541                    1  7317.0  126.0                                  B2
84542                    1  7339.0   41.0                                  B9
84543                    1  7349.0   34.0                                  B9
84544                    1  7349.0   78.0                                  B9
84545                    1  7351.0   60.0                                  B2
84546                    4  7100.0   28.0                                  K6
84547                    4  7105.0  679.0                                  P9

                       ADDRESS  ... RESIDENTIAL UNITS  COMMERCIAL UNITS  \
0                 153 AVENUE B  ...               5.0               0.0
1        234 EAST 4TH   STREET  ...              28.0               3.0
2        197 EAST 3RD   STREET  ...              16.0               1.0
3          154 EAST 7TH STREET  ...              10.0               0.0
4       301 EAST 10TH   STREET  ...               6.0               0.0
5       516 EAST 12TH   STREET  ...              20.0               0.0
6                 210 AVENUE B  ...               8.0               0.0
7       520 EAST 14TH   STREET  ...              44.0               2.0
8                 141 AVENUE D  ...              15.0               0.0
9          629 EAST 5TH STREET  ...              24.0               0.0
10                181 AVENUE C  ...              30.0               4.0
11     530-532 EAST 5TH STREET  ...              10.0               0.0
12                         NaN  ...               NaN               NaN
13                         NaN  ...               NaN               NaN
14                         NaN  ...               NaN               NaN
15                         NaN  ...               NaN               NaN
16                         NaN  ...               NaN               NaN
17                         NaN  ...               NaN               NaN
18                         NaN  ...               NaN               NaN
19                         NaN  ...               NaN               NaN
20                         NaN  ...               NaN               NaN
21                         NaN  ...               NaN               NaN
22         244 EAST 7TH STREET  ...              24.0               0.0
23         244 EAST 7TH STREET  ...               0.0               0.0
24                         NaN  ...               NaN               NaN
25                         NaN  ...               NaN               NaN
26                         NaN  ...               NaN               NaN
27                         NaN  ...               NaN               NaN
28                         NaN  ...               NaN               NaN
29                         NaN  ...               NaN               NaN
...                        ...  ...               ...               ...
84518        1452 WOODROW ROAD  ...               2.0               0.0
84519       574 MAGUIRE AVENUE  ...               2.0               0.0
84520         72 DEXTER AVENUE  ...               2.0               0.0
84521         56 DEXTER AVENUE  ...               2.0               0.0
84522       35 LYNBROOK AVENUE  ...               2.0               0.0
84523         27 CLAY PIT ROAD  ...               2.0               0.0
84524         51 CLAY PIT ROAD  ...               2.0               0.0
84525        1576 WOODROW ROAD  ...               2.0               0.0
84526       96 CRABTREE AVENUE  ...               2.0               0.0
84527       98 CRABTREE AVENUE  ...               2.0               0.0
84528            10 TRINA LANE  ...               2.0               0.0
84529        118 TURNER STREET  ...               2.0               0.0
84530        125 CLAY PIT ROAD  ...               2.0               0.0
84531        65 SHARROTTS LANE  ...               2.0               0.0
84532        67 SHARROTTS LANE  ...               2.0               0.0
84533        27 RED CEDAR LANE  ...               2.0               0.0
84534          30 HEMLOCK LANE  ...               2.0               0.0
84535        33 WHITE OAK LANE  ...               2.0               0.0
84536           19 SPRUCE LANE  ...               2.0               0.0
84537        48 WHITE OAK LANE  ...               2.0               0.0
84538         178 DARNELL LANE  ...               2.0               0.0
84539         137 DARNELL LANE  ...               2.0               0.0
84540         125 DARNELL LANE  ...               2.0               0.0
84541          112 ROBIN COURT  ...               2.0               0.0
84542           41 SONIA COURT  ...               2.0               0.0
84543            37 QUAIL LANE  ...               2.0               0.0
84544         32 PHEASANT LANE  ...               2.0               0.0
84545         49 PITNEY AVENUE  ...               2.0               0.0
84546    2730 ARTHUR KILL ROAD  ...               0.0               7.0
84547        155 CLAY PIT ROAD  ...               0.0               1.0

       TOTAL UNITS  LAND SQUARE FEET  GROSS SQUARE FEET  YEAR BUILT  \
0              5.0            1633.0             6440.0      1900.0
1             31.0            4616.0            18690.0      1900.0
2             17.0            2212.0             7803.0      1900.0
3             10.0            2272.0             6794.0      1913.0
4              6.0            2369.0             4615.0      1900.0
5             20.0            2581.0             9730.0      1900.0
6              8.0            1750.0             4226.0      1920.0
7             46.0            5163.0            21007.0      1900.0
8             15.0            1534.0             9198.0      1920.0
9             24.0            4489.0            18523.0      1920.0
10            34.0            4295.0            21328.0      1910.0
11            10.0            3717.0            12350.0      2009.0
12             NaN               NaN                NaN         NaN
13             NaN               NaN                NaN         NaN
14             NaN               NaN                NaN         NaN
15             NaN               NaN                NaN         NaN
16             NaN               NaN                NaN         NaN
17             NaN               NaN                NaN         NaN
18             NaN               NaN                NaN         NaN
19             NaN               NaN                NaN         NaN
20             NaN               NaN                NaN         NaN
21             NaN               NaN                NaN         NaN
22            24.0            4131.0            16776.0      1928.0
23             0.0               0.0                0.0      1928.0
24             NaN               NaN                NaN         NaN
25             NaN               NaN                NaN         NaN
26             NaN               NaN                NaN         NaN
27             NaN               NaN                NaN         NaN
28             NaN               NaN                NaN         NaN
29             NaN               NaN                NaN         NaN
...            ...               ...                ...         ...
84518          2.0           11100.0             3560.0      1989.0
84519          2.0           21528.0             2650.0      1985.0
84520          2.0            5260.0             2600.0      2001.0
84521          2.0            8306.0             2600.0      2001.0
84522          2.0            5060.0             2600.0      2001.0
84523          2.0            3288.0             1916.0      2000.0
84524          2.0            2986.0             1820.0      1999.0
84525          2.0            2490.0             1530.0      1998.0
84526          2.0            2337.0             1964.0      2010.0
84527          2.0            2429.0             1798.0      2010.0
84528          2.0            3936.0             1470.0      2004.0
84529          2.0            6268.0             2206.0      2010.0
84530          2.0           10935.0             2683.0      1998.0
84531          2.0            4300.0             2170.0      1998.0
84532          2.0            4700.0             2170.0      1998.0

In [ ]:
# Find NaN / Nulls
nyc.isnull().sum()

* Lots of NaNs / Nulls found !!!!

In [ ]:
# Perform pairplot with dropna
sns.pairplot(nyc, dropna=True)

Based on address sample, we can guess the Borough Index mapping
* BOROUGH = 1.0: Manhattan
* BOROUGH = 2.0: Bronx
* BOROUGH = 3.0: Brooklyn
* BOROUGH = 4.0: Queens
* BOROUGH = 5.0: Staten Island

In [ ]:
# # Histogram for duration
# # Using rule of thumb for number of bins: sqrt(979) = 33 bins
# ax = nyc['SALEPRICE'].hist(bins=50, figsize=(12,6))

# ax.set_title('Histogram of NYC Salesprice')
# ax.set_xlabel("NYC Salesprice Bins");
# ax.set_ylabel("Count");

In [ ]:
nyc['SALEPRICE'].sort_values(ascending=False).head()

In [ ]:
# Content Ratings by Duration
ax = nyc.boxplot(column='SALEPRICE', by='BOROUGH', figsize=(12,6));
plt.suptitle("") # Gets rid of title automatically generated
ax.set_title('Sales Price by Borough');
ax.set_xlabel('Borough');
ax.set_ylabel('Sales Price');

In [ ]:
# Display top 3 Zip Code by number of sales for each borough
for borough in boroughs:
    print("Borough: {0}".format(borough))
    print(nyc[nyc['BOROUGH'] == borough]['ZIP CODE'].value_counts().head(3))

* Number of Sales by Borough

In [ ]:
# Number of Sales by Boroughs
nyc['BOROUGH'].value_counts(sort=True, ascending=False)

1. Queens (108.1 mi²)
 * Wow!  Queens beats out Manhattan
2. Brooklyn (69.5 mi²)
3. Manhattan (22.82 mi²)
4. Staten Island (58.69 mi²)
5. Bronx (42.47 mi²)

* Number of Sales by Zip Code

In [ ]:
nyc['ZIP CODE'].value_counts(sort=True, ascending=False).head(5)

## Focus EDA on Mahattan

In [ ]:
nyc_manhattan = nyc[nyc.BOROUGH == 1.0]
nyc_manhattan.head()

In [ ]:
nyc_manhattan.describe()

In [ ]:
nyc_manhattan.isnull().sum()

Wow!!  No NaNs/missing data for Manhattan!!!!

In [ ]:
# # Using rule of thumb for number of bins: sqrt(979) = 33 bins
# ax = nyc_manhattan['SALEPRICE'].hist(bins=50, figsize=(12,6))
# ax.set_title('Histogram of NYC Manhattan Salesprice')
# ax.set_xlabel("NYC Sales Price Bins");
# ax.set_ylabel("Count");

### Data Filtering and Clearning

- [x] Filter out non-Manhattan data
- [ ] Get rid of NaNs - (Mahattan has no NaNs)
- [x] Get rid of SALEPRICE = 0 (covered by filtering out < \$100k)
- [x] Get rid of SALEPRICE < $100K
- [x] Get rid of high outliers? - NO
- [ ] FillNA with mean by Borough
 * https://stackoverflow.com/questions/19966018/pandas-filling-missing-values-by-mean-in-each-group
 * https://towardsdatascience.com/using-pandas-transform-and-apply-to-deal-with-missing-data-on-a-group-level-cb6ccf060531

In [ ]:
# Filter out proprerty less than $100,000
#nyc_manhattan = nyc_manhattan[nyc_manhattan['SALEPRICE'] != 0]
nyc_manhattan = nyc_manhattan[nyc_manhattan['SALEPRICE'] > 100000]
nyc_manhattan.shape

In [ ]:
# What is the effect of filter out data
nyc_manhattan['SALEPRICE'].describe()

In [ ]:
nyc_manhattan['SALEPRICE'].sort_values(ascending=False).tail(10)

In [ ]:
ax = nyc_manhattan.boxplot(column='SALEPRICE', figsize=(12,6));
plt.suptitle("") # Gets rid of title automatically generated
ax.set_title('Sales Price Distribution in Manhattan');
ax.set_xlabel('Manhattan');
ax.set_ylabel('Sales Price');

In [ ]:
# Content Ratings by Duration
#ax = nyc_manhattan.boxplot(column='SALEPRICE', by='ZIP CODE', figsize=(12,6));
ax = nyc.boxplot(column='SALEPRICE', by='BOROUGH', figsize=(12,6));

plt.suptitle("") # Gets rid of title automatically generated
ax.set_title('Sales Price by Zip Code');
ax.set_xlabel('Zip Code');
ax.set_ylabel('Sales Price');

In [ ]:
nyc_manhattan.sort_values(by='SALEPRICE', ascending=False).head(3)

In [ ]:
# Top 10 Zip Codes with highest average sale price
nyc_manhattan.groupby("ZIP CODE").SALEPRICE.mean().sort_values(ascending=False).head(5)

**Top 5 Manhattan Zip Codes and Neighborhoods** 
1. 10167: Midtown
2. 10001: Chelsea
3. 10004: Battery Park
4. 10005: Wall Street
5. 10018: Midtown West

In [ ]:
#nyc_manhattan.groupby('ZIP CODE')['SALEPRICE'].value_counts()

In [ ]:
top_mahattan_zip_codes = ['10167','10001','10004', '10005', '10018']
nyc_manhattan_top_zip = nyc_manhattan[nyc_manhattan['ZIP CODE'].isin(top_mahattan_zip_codes)]

In [ ]:
nyc_manhattan_top_zip.shape
nyc_manhattan.shape